<header>
  <h1>Patient Login Page</h1>

<form action="/action_page.php">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <br>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <input type="checkbox" checked="checked"> Remember me

    <br>

    <label><b>Day of your Birth</b></label>
    <input type="dayOfBirth" placeholder="Enter Day of Birth" name="dOfB" required>

    <br>

    <label><b>Month of your birth</b></label>
    <input type="monthOfBirth" placeholder="Enter Month of Birth" name="mOfB" required>

    <br>

    <label><b>Year of your birth</b></label>
    <input type="yearOfBirth" placeholder="Enter Year of Birth" name="yOfB" required>

    <br>

    <label><b>Address</b></label>
    <input type="Address" placeholder="Enter your address" name="address" required>

    <br>

    <label><b>City</b></label>
    <input type="City" placeholder="Enter city" name="city" required>

    <br>

    <label><b>State</b></label>
    <input type="State" placeholder="Enter state" name="state" required>

    <br>

    <label><b>Phone Number</b></label>
    <input type="phoneNumber" placeholder="Enter your Phone number" name="phoneNumber" required>

    <br>

    <p> Security Questions: </p>

    <label><b>What was your mother’s maiden name?</b></label>
    <input type="secQuestion1" placeholder="Security Question 1" name="secQuestion" required>

    <br>

    <label><b>What was the name of your first pet?</b></label>
    <input type="secQuestion2" placeholder="Security Question 2" name="secQuestion2" required>

    <br>

    <label><b>What was the name of your middle school?</b></label>
    <input type="secQuestion2" placeholder= "Security Question 3" name="secQuestion3" required>

    <br>

    <div class="clearfix">
      <button type="button"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Submit</button>
    </div>
  </div>
</form>
</header>
