<header>
  <h1>Patient Medications List</h1>

  <form class="new-medication" ng-submit="$ctrl.addMedication($ctrl.newMedication)">
    <input ng-model="$ctrl.newMedication" type="text" name="text" placeholder="Type to add new medications"/>
  </form>

</header>

<ul>
  <li ng-repeat="medication in $ctrl.medications" ng-class="{'checked': medication.checked}">
    <button class="delete" ng-click="$ctrl.removeMedication(medication)">&times;</button>

    <input type="checkbox" ng-checked="medication.checked" ng-click="$ctrl.setChecked(medication)" class="toggle-checked"/>

    <span class="text">
      {{medication.text}}
    </span>
  </li>
</ul>
