<header>
  <h1>Patient Medications List</h1>

<div class="addPrescription" >
 <h3>  Add New Prescription </h3>
  <form class="new-medication" ng-submit="$ctrl.addMedication($ctrl.newMedication, $ctrl.newMedicationDescription, $ctrl.newMedicationType, $ctrl.prescriptionID)">
     <input ng-model="$ctrl.prescriptionID" type="text" name="text" placeholder="Prescription ID" />
    <input ng-model="$ctrl.newMedication" type="text" name="text" placeholder="Type to add new medications" />
    <input ng-model="$ctrl.newMedicationDescription" type="text" name="text" placeholder="Type to add new medication Description"/>
    <input ng-model="$ctrl.newMedicationType" type="text" name="text" placeholder="Type to add new medication Type"/>
    <input ng-model="$ctrl.chronic" type="text" name="text" placeholder="Chronic/Non-chronic?" />
  </form>
</div>

</header>

<ul>
  <li ng-repeat="medication in $ctrl.medications" ng-class="{'checked': medication.checked}">
    <button class="delete" ng-click="$ctrl.removeMedication(medication)">&times;</button>

    <input type="checkbox" ng-checked="medication.checked" ng-click="$ctrl.setChecked(medication)" class="toggle-checked"/>

    <span class="text">
    {{prescriptionID}}  {{medication.text}} {{ medication.instructions}} {{medication.type}} {{medication.chronic}}
    </span>
  </li>
</ul>
